# Data Preprocessing.

In [1]:
# Import the libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
print(os.listdir(r"C:\Users\NELSON\Desktop\new deploy\sanjay"))

['.ipynb_checkpoints', 'Datst.csv', 'final.xlsx', 'prep.ipynb', 'preprocessing.ipynb', 'sanjay1.csv', 'sanjay2.csv', 'spamclassifier.csv']

In [2]:
# Read the Dataset.
data = pd.read_csv(r"C:\Users\NELSON\Desktop\new deploy\sanjay/spamclassifier.csv", encoding="latin-1")

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df = data.dropna()

In [6]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [7]:
# Describe the data in statastical view.
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,6,6,6,6,6
unique,1,5,5,5,5
top,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
freq,6,2,2,2,2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 281 to 5048
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          6 non-null      object
 1   v2          6 non-null      object
 2   Unnamed: 2  6 non-null      object
 3   Unnamed: 3  6 non-null      object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes

In [9]:
df.duplicated()

281     False
1038    False
2255    False
3525    False
4668    False
5048     True
dtype: bool

In [10]:
df.size

30

In [11]:
df.shape

(6, 5)

In [12]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1038,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
2255,ham,I just lov this line: \Hurt me with the truth,I don't mind,i wil tolerat.bcs ur my someone..... But,"Never comfort me with a lie\"" gud ni8 and swe..."
3525,ham,\HEY BABE! FAR 2 SPUN-OUT 2 SPK AT DA MO... DE...,HAD A COOL NYTHO,TX 4 FONIN HON,"CALL 2MWEN IM BK FRMCLOUD 9! J X\"""""
4668,ham,"When I was born, GOD said, \Oh No! Another IDI...",GOD said,"\""OH No! COMPETITION\"". Who knew","one day these two will become FREINDS FOREVER!"""
5048,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""